.about {
  font-weight: 500;
}
  
  /* TITLE BAR STYLES */
  .title-bar {
    background: rgb(187, 71, 71);
    text-align: center;
  }
  
  .title-bar .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }
  
  .title-bar h6 {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15pt;
  }
  .title-bar p {
    color: white;
    font-weight: lighter;
    font-size: 9pt;
    font-style: oblique;
    position: relative;
    bottom: -20px;
  }

  /* GALLERY STYLES */
  .content {
    padding: 50px;
    width: 100%;
  }

