
body {
  display: block;
  background: url("https://github.com/star-nut/portfolio/blob/site/gallery/white-wall.jpeg?raw=true");
  background-repeat: repeat;
  background-size: 1300px 1300px;
  background-attachment: local;
  text-align: center;
  min-height: 100%;
}
.gallery {
  font-weight: 500;
}

/* TITLE BAR STYLES */
.title-bar {
  background: rgb(122, 108, 82);
  text-align: center;
}

.title-bar .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.title-bar h6 {
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 15pt;
}
.title-bar p {
  color: white;
  font-weight: lighter;
  font-size: 9pt;
  font-style: oblique;
  position: relative;
  bottom: -20px;
}

 /* GALLERY STYLES */
.gallery .container {
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.gallery .container img {
  height: 100%;
  width: 70%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
