/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}
body {
  background: white;
  /* overflow-x: hidden; */
}
.container {
  width: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
img, video {
  pointer-events: none;
  user-select: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav,
a {
  text-transform: uppercase;
  text-decoration: none;
}

/* MAIN NAV STYLES */
/* TOP BAR STYLES */
.top-bar {
  background: rgb(255, 255, 255);
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  padding: 0px;
  z-index: 99999999;
  width: 100%;
}
.top-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 1px 40px 1px #000;
  z-index: 99999999;
  padding: 0px;
  padding-left: 5%;
  padding-right: 5%;
}
.top-bar .star-logo a{
  float:inline-start;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: black;
  white-space: nowrap;
}
.top-bar h6 {
  padding-left: 10px;
}
.top-bar.star-logo {
  width: 100%;
}
.top-bar img {
  width: 40px;
  height: 100%;
}
@media screen and (max-width: 865px) {
  /*.top-bar .star-logo img {
    display: flex;
  }
   .top-bar .text-logo img {
    display: none;
  } */
}

@media screen and (max-width: 600px) {
  .top-bar .socials {
    display: flex;
    flex-direction: column;
  }
}

/* NAV STYLES */
.top-nav {
  width: 100%;
  z-index: 6;
  float:inline-end;
  align-items:center;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.top-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}

.top-nav li {
  line-height: 50px;
}
.top-nav ul {
  display: grid;
  grid-gap: 10px;
}
.top-nav ul.top-level {
  float: inline-end;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: 100px, auto;
}

.top-nav ul.top-level li {
  flex: 1;
  text-align: center;
  position: relative;
  list-style-type: none;
  display: grid;
}

.top-nav ul.drop {
  display: none;
  position: absolute;
  left: -50px;
  top: 150px;
  z-index: 9999;
  background: rgb(255, 255, 255);
  width: 120%;
  box-shadow: 0em 0.4em 25px black;
  z-index: 1;
}
.top-nav .port, .top-nav .about, .top-nav .artwork, .top-nav .gallery {
  padding-left: 5px;
  padding-right: 5px;
}

.star-logo h6:hover, .top-nav .port:hover, .top-nav .about:hover, .top-nav .artwork:hover, .top-nav .gallery:hover {
  font-weight: bold;
  transform: scale(1.05)
}
.top-nav .drop li:hover {
  background: rgba(202, 202, 202, 0.472);
  box-shadow: inset 0em 0em 0.6em 0.1em rgba(128, 128, 128, 0.361);
  font-weight: bold;
}
.top-nav ul.top-level li:hover ul.drop {
  display: block;
}
.top-nav img, .top-nav button {
  height: 100%;
  width: 30px;
  display: none;
}
@media screen and (max-width: 790px) {
  .top-nav img, .top-nav button {
    display:flex;
    /* position:relative;
    left: 100px; */
    float:right;
  }
  .top-nav button {
    cursor: pointer;
  }
  .top-nav {
    position: relative;
    display: inline-block;
  }
  

  .top-nav button:checked ul.top-level {
  display: block;
  }
  .top-nav button {
    background: none;
	  color: inherit;
	  border: none;
	  padding: 0;
	  font: inherit;
	  cursor: pointer;
	  outline: inherit;
  }
  .top-nav button:hover {
    transform: scale(1.1);
    display: block;
  }
  .top-nav ul.top-level {
    display: none;
    position: absolute;
    right:-5px;
    top: 50px;
    z-index: 9999;
    background: rgb(255, 255, 255);
    width: 200px;
    box-shadow: 0em 10px 25px rgba(0, 0, 0, 0.458);
    z-index: 1;
  }
  .top-nav ul.top-level a {
    display: block;
  }
  .top-nav:hover .top-level {
    display:block;
  }
 
  .top-nav {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .top-nav ul.top-level {
    grid-template-columns: repeat(1, auto);
    grid-auto-rows: 100px, auto;
  }
}


/* FOOTER STYLES */
footer {
  background-color: gainsboro;
}

footer .container {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

footer .socials img {
  display: flex;
  padding: 5px;
  width: 30px;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}