body {
  background: white;
  overflow-x: hidden;
}
/* BANNER STYLES */
.banner .container {
  position: relative;
  padding: 0px;
}
.banner video,
.banner img {
  width: 100%;
  max-width: 100%;
  filter: brightness(80%);
}
.banner img {
  display: none;
}

/* MINI-BIO BAR STYLES */
.banner {
  text-align: center;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.banner .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -50%);
}

.banner h6 {
  color: white;
  font-weight: bolder;
  /* text-transform: uppercase; */
  font-size: 5.5vw;
  text-shadow: 1px 1px 10px black;
}
.banner p {
  color: white;
  text-shadow: 1px 1px 10px black;
  position: relative;
}
.banner .bio {
  bottom: -1vw;
  font-size: 2.3vw;
}
.banner .dedication {
  font-style: oblique;
  transform: translate(64%, -100%);
  font-weight: lighter;
  font-size: 1.7vw;
}

@media screen and (max-width: 600px) {
  .banner .dedication {
    font-weight: normal;
  }
  .banner video {
    display: none;
  }
  .banner img {
    display: flex;
  }
}

/* PORTFOLIO STYLES */
#portfolio .container {
  display: grid;
  grid-gap: 40px;
  align-items: center;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  max-width: 100%;
}

#portfolio h6 {
  font-weight: bold;
}
#portfolio .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title p {
  font-weight: bolder;
  font-size: 18pt;
}
.title img {
  height:100%;
  width: 20px;
}
#portfolio h1 {
  font-weight:bolder;
  text-transform: uppercase;
  font-size: 15pt;
  font-stretch: 50% 200%;
}
#portfolio p {
  padding-top: 10px;
  padding-bottom: 10px;
}
#portfolio {
  width: 100%;
  display: flex;
  padding: 30px;
  padding-top: 50px;
}

.case {
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  height: auto;
  justify-content: center;
  align-items: center;
}
.case:hover {
  transform: scale(1.03);
}
.study1 {
  background-color: rgb(88, 164, 252);
  box-shadow: -10px 10px rgb(0, 0, 0);
}
.study2 {
  background-color: rgb(199, 253, 92);
  box-shadow: -10px 10px rgb(0, 0, 0);
}
.case .text {
  flex-direction: column;
  text-align: center;
}
.case img {
  width: 200px;
  height: 200px;
}
.case button {
  position: relative;
  top: 3vw;
}
@media screen and (max-width: 600px) {
  .case {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }
  .case button {
    top: 1.5vw;
  }
}


